/*Variable */
$font-header: 'Signika', sans-serif;
$font-text: 'Inconsolata', monospace;

$color-main: #0097e6;
$color-graphics: #33d9b2;
$color-minor: #ff5252;
$color-text-bright: #ffffff;
$color-text-dark: #2c2c54;

$transition: all 2s;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-text-dark;
}
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betwen;
}
section {
    padding: 96px 0 0 0;
}
.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}
.column-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $color-main;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}
.btn-animation {
    background: $color-main;
    border-color: $color-text-bright;
    color: $color-text-bright;
    background-image: linear-gradient(90deg, $color-text-bright 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 300%; 
    &:hover {
        background-position: 0 100%;
        color: $color-main;
    }
}

/* Navigation */
.navigation {
    background: $color-main;
    padding: 12px 0;
    .container {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            font-size: 16px;
            li {
                display: inline-block;
                position: relative;
                a {
                    text-decoration: none;
                    color: $color-text-bright;
                    display: inline-block;
                }
                &:hover {
                    ul {
                        display: block;
                        position: absolute;
                        background: $color-text-bright;
                    }
                }
                ul {
                    display: none;
                    left: 50%;
                    transform: translateX(-50%);
                    padding-top: 12px;
                    li {
                        display: block;
                        margin-bottom: 12px;
                        a {
                            color: $color-main;
                            display: block;
                            padding: 0 18px;
                            &:hover{
                                color: $color-graphics;
                            }
                        }
                    }
                }
            }
        }
        > ul {
            > li {
                margin-right: 36px;
            }
        }
    }
}

/* Splash */
.splash {
    background: $color-main;
    color: $color-text-bright;
    min-height: 500px;
    display: flex;
    .splash-inner {
        margin: auto;
        max-width: 70%;
        .page-title {
            margin: 0;
            font-size: 72px;
            word-spacing: -20px;
            font-weight: 700;
            line-height: 1.2;
            span {
                font-weight: 900;
                font-family: $font-header;
            }
        }
        .page-subtitle {
            margin: 24px 0;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

/*  Services */
.services {
    .container {
        .row {
            .container-column {
                flex: 0 0 33.333%;
                padding: 0 15px;
                position: relative;
                .number-background {
                    position: absolute;
                    font-size: 144px;
                    line-height: 1;
                    color: $color-graphics;
                    opacity: 0.3;
                    font-weight: 800;
                }
                .column-title {
                }
                p {
                    &:first-of-type {
                        font-weight: 700;
                    }
                }
                .btn-column-design {
                    border-color: $color-graphics;
                    color: $color-graphics;
                }
                .btn-column-code {
                    border-color: $color-minor;
                    color: $color-minor;
                }
                .btn-column-marketing {
                    border-color: $color-main;
                    color: $color-main;
                }
            }
        }
    }
}

/* Work */
.work {
    .container {
        .row {
            .container-element {
                flex: 0 0 50%;
                position: relative;
                min-height: 300px;
                margin-bottom: 96px;
                .image {
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    max-width: 250px;
                    height: 100%;
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: $color-graphics;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        opacity: 0.3;
                        transition: $transition;
                    }
                    &:hover {
                        &::after {
                            top: 0;
                            left: 0;
                            transition: $transition;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .element-description {
                    padding: 36px 0 36px 55%;
                    text-align: left;
                    p {
                        &:last-of-type {
                            font-weight: 700;
                        }
                    }
                    .btn-work-section {
                        border: none;
                        margin: 36px 0;
                        padding: 0;
                        text-align: left;
                        color: $color-main;
                    }
                }
            }
        }
    }
}

/* Contact */
.contact {
    background: $color-main;
    padding: 12px 0;
    color:  $color-text-bright;
    .container {
        margin-bottom: 20px;
        .row {
            form {
                flex: 2 0 0;
                padding: 0 96px 0 0;
                .contact-data {
                    background: $color-main;
                    border: none;
                    border-bottom: 2px solid $color-text-bright;
                    padding: 0 96px 0 10px;
                    width: 100%;
                    height: 40px;
                }
                .message {
                    height: 100px;
                    padding-top: 20px;
                }
                input, textarea {
                    &::placeholder {
                        color: $color-text-bright;
                        font-family: $font-text;
                        font-size: 16px; 
                    }
                }
            }
            .my-data {
                flex: 1 0 0;
                line-height: 0.7;
                h3 {
                    font-size: 20px;
                }
                .top-margin {
                    margin-top: 20px;
                }
            }
        }
    }
}

/* Footer */
.page-footer {
    .container {
        padding: 48px 0;
        ul {
            text-align: center;
            li {
                display: inline-block;
                font-size: 0;
                a {
                    i {
                        font-size: 30px;
                        background: $color-minor;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        color: $color-text-bright;
                        border-radius: 50%;
                        transition: $transition;
                        &:hover {
                            transform: scale(1.2);
                            transition: $transition;
                        }
                    }  
                }
            }
        }
    }
}

/* Media */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .container {
        margin: 0;
    }
    .row {
        flex-direction: column;
    }
    section {
        padding: 40px 0 0 0;
    }
    .section-title {
        font-size: 30px;
        margin: 0 0 40px 0;
    }
    .column-title {
        font-size: 24px;
    }
    .btn {
        min-width: 140px;
        padding: 10px;
    }
    
    /* Navigation */
    .navigation {
        .container {
            ul {
                font-size: 12px;
                li {
                    margin-left: 0;
                    a {
                        margin-right: -25px;
                    }
                    ul {
                        li {
                            a {
                                padding: 0 38px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* Splash */
    .splash {
        min-height: 350px;
        .splash-inner {
            .page-title {
                font-size: 40px;
                word-spacing: -10px;
            }
            .page-subtitle {
                font-size: 12px;
            }
        }
    }
    
    /*  Services */
    .services {
        .container {
            .row {
                .container-column {
                    .btn {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    
    /* Work */
    .work {
        .container {
            .row {
                .container-element {
                    max-height: 400px;
                    margin-bottom: 2px;
                    .image {
                        position: relative;
                        width: 100%;
                        height: 150px;
                    }
                    .element-description {
                        padding-left: 0;
                        .btn-work-section {
                            margin: 2px 0;
                        }
                    }
                }
            }
        }
    }
    /* Contact */
    .contact {
        .container {
            margin-bottom: 10px;
            .row {
                form {
                    padding-right: 5px;
                    input, textarea {
                        &::placeholder {
                            font-size: 12px; 
                        }
                    }
                }
                .my-data {
                    line-height: 0.7;
                    margin-top: 20px;
                    h3 {
                        font-size: 13px;
                    }
                    p {
                        font-size: 12px;
                    }
                    .top-margin {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    /* Footer */
    .page-footer {
        .container {
            padding: 20px 0;
            ul {
                li {
                    a {
                        i {
                            font-size: 20px;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                        }  
                    }
                }
            }
        }
    } 
}